---
import Card from "./Card.astro";
import CardPeque from "./CardPeque.astro";
---

<div class="flex flex-wrap w-[100%]">
    <CardPeque></CardPeque>
    <CardPeque></CardPeque>
    <CardPeque></CardPeque>
    <CardPeque></CardPeque>
    <!-- <Card></Card> -->
</div>