---
import Enlace from "./Enlace.astro";
---

<div class="max-w-sm h-[270px] p-6 border border-gray-200 rounded-lg shadow backdrop-blur-[20px] text-[#000814]">
    <!-- <Enlace href="#" class="flex items-center justify-center text-white">
        <img src="/logo.svg" alt="" srcset="" class="w-[30px]">
        <h5 class="mb-2 text-2xl tracking-tight">AstroGym</h5>
    </Enlace> -->
    <p class="py-7 font-normal text-white ">Entrenamiento al máximo nivel</p>
    <Enlace href="#nosotros" class="text-lg flex items-center justify-center text-white">
            Descubre cómo
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2 mt-[2px]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
    </Enlace>
</div>
