
---
const{
    img,
    titulo,
    parrafo,
    class: className = ""
}=Astro.props
---

<div class="flex flex-col gap-3 items-center sm:flex-row sm:w-[600px] text-white text-center sm:text-left w-screen p-10">
    <img src={img} alt="" class="w-[70px] mx-auto">
    <div>
        <h5>{titulo}</h5>
        <p>{parrafo}</p>
    </div>
</div>
