---
const{
    href,
    class: className = ""
}=Astro.props
---
<a href={href} class:list={["transform transition duration-500 hover:scale-125 block py-2 px-3 hover:text-purpura rounded md:p-0 focus:text-purpura", className]}>
    <slot />
</a>