---
const{
    href,
    class: className = ""
}=Astro.props
---
<a href={href} class:list={["transform transition duration-500 hover:scale-125 block py-2 px-3 hover:text-[#fb8500] rounded md:p-0 focus:text-[#fb8500]", className]}>
    <slot />
</a>