---
import {StickyHeader, Astronav, MenuItems, MenuIcon} from "astro-navbar";
import Enlace from "./Enlace.astro";
---
<StickyHeader
class="sticky top-0 z-20 transition-all "
scrollY={50}
defaultClass="py-5 border-transparent text-white"
activeClass="py-2 backdrop-blur-lg text-[#fb8500]">
<header class="lg:flex p-5 px-16  gap-5">
  <Astronav>
    <div class="flex items-center w-full justify-between">
      <Enlace href="#" class="flex items-center">
        <img src="../../logo.svg" class="w-[30px]" alt="">
        <span class="flex items-center text-2xl font-semibold whitespace-nowrap">AstroGym</span>
      </Enlace>
      <!-- <a href="#"  hover:text-purpura">
        <span class="flex items-center text-2xl font-semibold text-white whitespace-nowrap bg-gradient-to-r from-violet-700 to-white text-transparent
        bg-clip-text">Astro</span>
      </a> -->
      <div class="flex lg:hidden">
        <MenuIcon class="flex justify-center w-6 h-6 "/>
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul class="flex flex-col lg:flex-row lg:gap-6 items-center  mt-5 lg:mt-0">
        <li>
          <Enlace href="#">
            Inicio  
          </Enlace>
        </li>
        <li>
          <Enlace href="#nosotros">
            Nosotros
          </Enlace>
        </li>
        <li>
          <Enlace href="#">
            Entrenadores
          </Enlace>
        </li>
        <li>
          <Enlace href="#">
            Contáctanos
          </Enlace>
        </li>
      </ul>
    </MenuItems>
  </Astronav>
</header>
</StickyHeader>