---
import CardPeque from "./CardPeque.astro";
import Filas from "./Filas.astro";
---

<section class="flex flex-col items-center mt-20" id="nosotros">
    <h2 class="text-white text-4xl tracking-tight font-extrabold text-center mb-5">Nosotros:</h2>
    <span class="text-white">
        Gimnasios de barrio con precios comerciales
    </span>
    <Filas>
        <CardPeque titulo="Inteligencia artificial" parrafo="Implementación de inteligencia artificial para la mejora de la técnica en los entrenamientos" img="/robot.svg"/>
        <CardPeque titulo="Equipamiento novedoso" parrafo="Nuestras instalaciones se componen de las mejores máquinas" img="/pesa.svg"/>
    </Filas>
    <Filas>
        <CardPeque titulo="Profesionales del deporte" parrafo="Nuestro equipo está conformado por entrenadores que te guíaran en los ejercicios" img="/person.svg"/>
        <CardPeque titulo="Tarifas personalizadas" parrafo="Disponemos de total libertad en la elección de los planes de pago" img="/ey.svg"/>
    </Filas>
</section>