---
import Bento from "./Bento.astro";
---

<section class="flex flex-col items-center mt-20" id="nosotros">
    <h2 class="text-white text-3xl mb-5">Nosotros:</h2>
    <span class="text-white">
        Gimnasios de barrio con precios comerciales
    </span>
    <Bento></Bento>
</section>